[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  color: #121515;
  font-size: 11px;
  background-color: black;
}

.clear {
  clear: both;
}

#jllogo {
  vertical-align: middle;
  padding: 0px 20px;
}

.header {
  height: 40px;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0px;
  left: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(70,70,80,0.5);
}

.hide {
  display: none;
}

.menu {
  padding: 5px;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -450px;
}

#menu-one {
  margin-top: -150px;
}

#menu-two {
  margin-top: 650px;
}

#menu-three {
  margin-top: 1450px;
}

#menu-four {
  margin-top: 2250px;
}

#menu-five {
  margin-top: 3050px;
}

#menu-five .hex {
  color: rgb(175, 150, 150);
  margin: 15px;
  font-weight: normal;
}

.button-container {
  margin-top: 5px;
}

.hexbutton {
  width: 211px;
  border-width: 0px;
  cursor: pointer;
  font-size: 10px;
  line-height: 30px;
  padding: 0px 0px;
  color: white;
  background-color: rgba(50,50,50,0.7); 
  vertical-align: middle;
  outline:none;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(150,150,150,0.1);
}

.hexbutton:hover {
  background-color: rgba(100,100,100,0.6); 
}

.filter-tiles {
  border-width: 0px;
  font-size: 10px;
  line-height: 10px;
  padding: 2px 20px;
  margin: 7px 15px 3px 0px;
  background-color: #DDE;
  width: 150px;
  color: #333;
  vertical-align: middle;
  height: 24px;
  float: right;
  cursor: pointer;
}

.filter-tiles:hover {
  background-color: #FFF;
}

.hexgrid {
  z-index: 1;
  margin-top: -150px;
  width: 1250px;
  margin: 0px auto;

  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10  */
  -o-user-select: none;
  user-select: none;  
}

.content {
  margin-bottom: 100px;
}

.hex {
  cursor: pointer;
  float: left;
  margin-left: 3px;
  margin-bottom: -28px;
}
.hex .top {
  width: 0;
  border-bottom: 30px solid #121515;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.hex .middle {
  width: 104px;
  height: 60px;
  background: #121515;
  display: table-cell; 
  vertical-align: middle;
  word-wrap: break-word;
  text-align: center;
}
.hex .middle .hex-content {
  width: 80px;
  margin: auto;
  text-align: center;
}
.hex .bottom {
  width: 0;
  border-top: 30px solid #121515;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.hex-even-start {
  clear: left;
}
.hex-odd-start {
  clear: left;
  margin-left: 56px;
}

.middle, .hexbutton {
  -webkit-transition: all 1500ms ease-in;
  -moz-transition: all 1500ms ease-in;
  -o-transition: all 1500ms ease-in;
  -ms-transition: all 1500ms ease-in;
  transition: all 1500ms ease-in;
}

.top, .bottom {
  -webkit-transition: border 1500ms ease-in;
  -moz-transition: border 1500ms ease-in;
  -o-transition: border 1500ms ease-in;
  -ms-transition: border 1500ms ease-in;
  transition: border 1500ms ease-in;
}

.hex.one .top, .hex.one-hover .top { border-bottom: 30px solid #002b36; }
.hex.one .middle, .hex.one-hover .middle { background: #002b36; color: rgba(180, 180, 180, 0.7); }
.hex.one .bottom, .hex.one-hover .bottom { border-top: 30px solid #002b36; }
.hexbutton.one.enabled { background: #002b36; }
.details-container .skill.one { background: #002b36; }

.hex.two .top, .hex.two-hover .top { border-bottom: 30px solid #ef8852; }
.hex.two .middle, .hex.two-hover .middle { background: #ef8852; color: rgba(180, 180, 180, 0.7); }
.hex.two .bottom, .hex.two-hover .bottom { border-top: 30px solid #ef8852; }
.hexbutton.two.enabled { background: #ef8852; }
.details-container .skill.two { background: #ef8852; }

.hex.three .top, .hex.three-hover .top { border-bottom: 30px solid #888c8d; }
.hex.three .middle, .hex.three-hover .middle { background: #888c8d; color: rgba(180, 180, 180, 0.7); }
.hex.three .bottom, .hex.three-hover .bottom { border-top: 30px solid #888c8d; }
.hexbutton.three.enabled { background: #888c8d; }
.details-container .skill.three { background: #888c8d; }

.hex.four .top, .hex.four-hover .top { border-bottom: 30px solid #17A086; }
.hex.four .middle, .hex.four-hover .middle { background: #17A086; color: rgba(180, 180, 180, 0.7); }
.hex.four .bottom, .hex.four-hover .bottom { border-top: 30px solid #17A086; }
.hexbutton.four.enabled { background: #17A086; }
.details-container .skill.four { background: #17A086; }

.details-container {
  width: 900px;
  margin: 0px auto;
  color: #CCC;
}

.details-container .topic {
  width: 300px;
  border-width: 0px;
  cursor: pointer;
  font-size: 17px;
  line-height: 35px;
  padding: 0px 20px;
  color: white;
  background-color: rgba(10,10,10,0.9); 
  vertical-align: middle;
  outline:none;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(150,150,150,0.1);
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.details-container .message {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10  */
  -o-user-select: none;
  user-select: none;  
  color: #111;
  font-size: 13px;
  line-height: 20px;
  height: 260px;
  min-height: 260px;
  max-height: 260px;
  padding: 20px 20px 50px 30px;
  background-color: rgba(220, 220, 220, 0.8);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(150,150,150,0.1);
}

.details-container .message .details {
  padding: 10px;
  font-weight: bold;
}

.details-container .skills {
  margin-top: 30px;
  float: right;
}

.details-container .skill {
  float: left;
  width: 100px;
  border-width: 0px;
  cursor: pointer;
  font-size: 10px;
  line-height: 35px;
  padding: 0px 10px;
  color: white;
  background-color: rgba(10,10,10,0.9); 
  vertical-align: middle;
  outline:none;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(150,150,150,0.1);
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: normal;
  text-align: center;
  margin: 5px;
  text-transform: capitalize;
  font-weight: bold;
}