[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  font-size: 11px;
  margin: 0px;
  padding: 0px 0px 80px 0px;

  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10  */
  -o-user-select: none;
  user-select: none; 
}

body.grid {
  background-image: url("../images/feathers.png");
}

body.blue {
  background: #c5deea; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #c5deea 0%, #8abbd7 31%, #066dab 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#c5deea), color-stop(31%,#8abbd7), color-stop(100%,#066dab)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #c5deea 0%,#8abbd7 31%,#066dab 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #c5deea 0%,#8abbd7 31%,#066dab 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #c5deea 0%,#8abbd7 31%,#066dab 100%); /* IE10+ */
  background: linear-gradient(135deg,  #c5deea 0%,#8abbd7 31%,#066dab 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body.orange {
  background: #ffaf4b; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #ffaf4b 0%, #f7541d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffaf4b), color-stop(100%,#f7541d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #ffaf4b 0%,#f7541d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #ffaf4b 0%,#f7541d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #ffaf4b 0%,#f7541d 100%); /* IE10+ */
  background: linear-gradient(135deg,  #ffaf4b 0%,#f7541d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#f7541d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.clear {
  clear: both;
}

.blog-nav {
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0px;
  left: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(70,70,80,0.5);
}

.blog-nav #jllogo {
  float: left;
  margin-left: 10px;
}

.blog-number {
  float: right;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 10px;
}

.blog-title {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;

  width: 350px;
  border-width: 0px;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: bold;
  line-height: 30px;
  padding: 0px 0px;
  color: white;
  background: #222328;
  text-transform: uppercase;
  vertical-align: middle;
  outline: none;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(150,150,150,0.1);
  text-decoration: none;
}

.blog-title:hover {
  background-color: #261100;
}

.content {
  color: black;
  margin-top: 100px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(240, 240, 240, 0.2);
  background-image: url("../images/crossword.png");

  color: #111;
  font-size: 17px;
  line-height: 30px;
  padding: 20px 50px 40px 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(150,150,150,0.1);
  border-radius: 15px;
  text-align: justify;
  letter-spacing: 1px;
}

.content .topic-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.content .topic {
  border-width: 0px;
  font-size: 20px;
  line-height: 40px;
  padding: 10px 50px;
  color: white;
  background-color: rgba(10,10,10,0.9);
  vertical-align: middle;
  outline: none;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(150,150,150,0.1);
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.content a {
  color: #17A086;
  text-decoration: none;
}

.content a:hover {
  color: #ef8852;
}

.content pre {
  background-color: #202020;
}

.content span.focus {
  color: #A2BA32;
}

.content span.italic {
  font-style: italic;
  color: #327388;
}

.content img {
  border-radius: 10px;
}