[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  font-size: 11px;
  margin: 0px;
  padding: 0px 0px 80px 0px;

  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10  */
  -o-user-select: none;
  user-select: none;

  background-image: url("../images/honey.png");
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.header {
  height: 40px;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0px;
  left: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(70,70,80,0.5);
}

.header a {
  text-decoration: none;
  color: rgb(220, 220, 220);
  font-weight: bold;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 30px;
  letter-spacing: 1px;
}

.header a:hover {
  color: rgb(250, 250, 230);
}

#jllogo {
  vertical-align: middle;
  padding: 0px 20px;
}

.unequal-grid {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.unequal-grid .third {
  width: 300px;
  min-height: 10px;
  float: left;
}

.unequal-grid .vert-1 {
  margin-right: 30px;
}

.unequal-grid .vert-3 {
  margin-left: 30px;
}

.tile-container {
  width: 300px;
  padding: 0px;
  margin: 0px 0px 40px;
}

.tile-container {
  cursor: pointer;
  background-color: white;
  border-radius: 2px;
}

a.tile * {
  text-decoration: none !important;
}

.tile-container:hover {
  background-color: #232323;
}

.tile-container:hover * {
  color: white !important;
  -webkit-font-smoothing: antialiased;
}

.tile-container .title-bar {
  font-weight: bold;
  width: 260px;
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
}

.tile-container .description-bar {
  width: 250px;
  padding: 30px 25px 50px;
  line-height: 24px;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #333;
}