<html>
  <head>
    <title>Joshua Lat 2.0</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='images/favicon.ico' rel='icon' type='image/png' />
    <meta name="description" content="Joshua Lat. Personal website of Joshua Arvin Lat." />
    <meta name="keywords" content="joshua lat, joshualat, arvin, www.joshualat.com, joshua arvin lat, personal website" />
    <meta name="author" content="Joshua Lat, admin@joshualat.com" />
    <meta name="google-site-verification" content="XLIWgE7t9h07bUrVuvb3YnEroNOZpBRkBeEJb_D1KXg" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32022116-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body ng-app="jlwebsite" ng-controller="HexCtrl" hexscroll>
    <div class="header">
      <img id="jllogo" src="images/JL.png" width="40px" height="40px"/>

      <hexbutton category="one">Back-end Development</hexbutton>
      <hexbutton category="two">Front-end Development</hexbutton>
      <hexbutton category="three">Solution Architecture</hexbutton>
      <hexbutton category="four">Everything Else</hexbutton>
      
      <input ng-model="filter" class="filter-tiles" placeholder="Filter"/>
    </div>
    <div>
      <div class="menu" id="menu-{{ message.category }}" ng-repeat="message in data.messageArray">
        <div class="details-container">
          <div class="message">
            <div class="topic">{{ message.title }}</div>
            <div class="details" ng-bind-html="message.details | unsafe"></div>
            <div class="clear"></div>
            <div class="skills">
              <div ng-repeat="skill in message.skills" class="skill {{ message.category }}">{{ skill }}</div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      
      <hexgrid skip="14" colored="{{ data.hexHighlight }}" filter="{{ filter }}">
        <hex ng-repeat="skill in skills track by $index" category="{{ skill.category }}">{{ skill.name }}</hex>
        <div class="clear"></div>
      </hexgrid>
    </div>

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/services/services.js"></script>
    <script type="text/javascript" src="js/controllers/controllers.js"></script>
    <script type="text/javascript" src="js/directives/directives.js"></script>
  </body>
</html>