<html>
  <head>
    <title>Joshua Lat 2.0</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='images/favicon.ico' rel='icon' type='image/png' />
    <meta name="description" content="Joshua Lat. Personal website of Joshua Arvin Lat." />
    <meta name="keywords" content="joshua lat, joshualat, arvin, www.joshualat.com, joshua arvin lat, personal website" />
    <meta name="author" content="Joshua Lat, admin@joshualat.com" />
    <meta name="google-site-verification" content="XLIWgE7t9h07bUrVuvb3YnEroNOZpBRkBeEJb_D1KXg" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32022116-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body ng-app="jlwebsite" ng-controller="HexCtrl" hexscroll ng-cloak>
    <div class="header">
      <img id="jllogo" src="images/JL.png" width="40px" height="40px"/>
      <a href="http://joshualat.com/">HOME</a>
      <a href="http://joshualat.com/blog/">BLOG</a>
      <a href="https://ph.linkedin.com/in/joshualat" target="_blank">LINKEDIN</a>
    </div>
    <div class="sub-header">
      <hexbutton category="one"></hexbutton>
      <hexbutton category="two"></hexbutton>
      <hexbutton category="three"></hexbutton>
      <hexbutton category="four"></hexbutton>
      <div class="clear"></div>
    </div>
    <div class="content">
      <div class="menu" id="menu-{{ message.category }}" ng-repeat="message in data.messageArray">
        <div class="details-container">
          <div class="message">
            <div class="topic">{{ message.title }}</div>
            <div class="details" ng-bind-html="message.details | unsafe"></div>
            <div class="clear"></div>
            <div class="skills">
              <div ng-repeat="skill in message.skills" class="skill {{ message.category }}">{{ skill }}</div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>

      <div class="menu" id="menu-five">
        <div class="details-container">
          <div class="message">
            <div class="topic">Connect</div>
            <div class="details">
              Don't forget to connect or visit me at:
              <br /><br />
              <a href='https://ph.linkedin.com/in/joshualat' target='_blank'>
                <hex category="three">LinkedIn</hex>
              </a>
              <a href='https://www.facebook.com/josh.lat' target='_blank'>
                <hex category="one">Facebook</hex>
              </a>
              <a href='https://github.com/joshualat' target='_blank'>
                <hex category="two">Github</hex>
              </a>
              <a href='https://twitter.com/mrjoshualat' target='_blank'>
                <hex category="four">Twitter</hex>
              </a>
              <a href='https://coderwall.com/joshualat' target='_blank'>
                <hex category="one">Coderwall</hex>
              </a>
              <a href='https://plus.google.com/112090833520663769867' target='_blank'>
                <hex category="three">Google Plus</hex>
              </a>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      
      <hexgrid skip="11" colored="{{ data.hexHighlight }}" filter="{{ filter }}">
        <hex ng-repeat="skill in skills track by $index" category="{{ skill.category }}">{{ skill.name }}</hex>
        <div class="clear"></div>
      </hexgrid>
    </div>

    

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/services/anchor_smooth_scroll.js"></script>
    <script type="text/javascript" src="js/services/messages.js"></script>
    <script type="text/javascript" src="js/services/skills.js"></script>
    <script type="text/javascript" src="js/services/utils.js"></script>
    <script type="text/javascript" src="js/controllers/hex_controller.js"></script>

    <script type="text/javascript" src="js/directives/hexgrid.js"></script>
    <script type="text/javascript" src="js/directives/hex.js"></script>
    <script type="text/javascript" src="js/directives/hexscroll.js"></script>
    <script type="text/javascript" src="js/directives/hexbutton.js"></script>
  </body>
</html>